{% comment %} include.show_count <= 0 means we want to show all the items {% endcomment %}
{% if include.show_count > 0 %}
  {% assign portfolio_page_relative_paths = site.portfolio_pages | slice: 0, include.show_count %}
{% else %}
  {% assign portfolio_page_relative_paths = site.portfolio_pages %}
{% endif %}
{%- if portfolio_page_relative_paths.size > 0 -%}
<div class="item-grid">
  {%- for relative_path in portfolio_page_relative_paths -%}
  {%- assign path = relative_path | prepend: "portfolio/" -%}
  {%- assign portfolio_page = site.pages | where: "path", path | first -%}
  {%- if portfolio_page.title -%}
  <div class="item-thumbnail">
    <a class="page-link" href="{{ portfolio_page.url | relative_url }}">
      {%- assign thumbnail = portfolio_page.thumbnail | default: "Missing-Thumbnail-420x420.png" -%}
      <img src="/assets/pictures/portfolio/{{ portfolio_page.asset-dir }}/{{ thumbnail }}" alt="Thumbnail for {{ portfolio_page.title }}">
      <div class="item-thumbnail-overlay">{{ portfolio_page.title | escape }}</div>
    </a>
  </div>
  {%- endif -%}
  {%- endfor -%}

  {% if include.show_count > 0 %}
  <div class="item-thumbnail">
    <a class="page-link" href="/portfolio/">
      {%- assign thumbnail = portfolio_page.thumbnail | default: "Missing-Thumbnail-420x420.png" -%}
      <img src="/assets/pictures/portfolio/More-Thumbnail-420x420.png" alt="More thumbnail">
      <div class="item-thumbnail-overlay">More...</div>
    </a>
  </div>
  {% endif %}
</div>
{% endif %}
