{% comment %} include.show_count <= 0 means we want to show all the items {% endcomment %}
{% assign portfolio_page_relative_paths = site.portfolio_pages %}
{% comment %} https://stackoverflow.com/questions/41263553/how-to-create-an-array-in-a-for-loop-in-liquid {% endcomment %}
{% assign all_portfolio_pages = '' | split: '' %}
{% for relative_path in site.portfolio_pages %}
  {%- assign path = relative_path | prepend: "portfolio/" -%}
  {%- assign matching_page = site.pages | where: "path", path | first -%}
  {% if include.category_filter == nil or matching_page.categories contains include.category_filter %}
    {%- assign all_portfolio_pages = all_portfolio_pages | push: matching_page -%}
  {% endif %}
{% endfor %}
{% if include.show_count > 0 %}
  {% assign portfolio_pages_to_show = all_portfolio_pages | slice: 0, include.show_count %}
{% else %}
  {% assign portfolio_pages_to_show = all_portfolio_pages %}
{% endif %}

{% comment %} Below, we use portfolio_pages_to_show.size instead of include.show_count since the latter may be negative (no limit) {% endcomment %}

{%- if portfolio_pages_to_show.size > 0 -%}
<div class="item-grid">
  {%- for portfolio_page in portfolio_pages_to_show -%}
  {%- if portfolio_page.title -%}
  <div class="item-thumbnail">
    <a class="page-link" href="{{ portfolio_page.url | relative_url }}">
      {%- assign thumbnail = portfolio_page.thumbnail | default: "Missing-Thumbnail-420x420.png" -%}
      <img src="/assets/pictures/portfolio/{{ portfolio_page.asset-dir }}/{{ thumbnail }}" alt="Thumbnail for {{ portfolio_page.title }}">
      <div class="item-thumbnail-overlay">{{ portfolio_page.title | escape }}</div>
    </a>
  </div>
  {%- endif -%}
  {%- endfor -%}

  {% comment %} Only show More... special item if there are more items to show {% endcomment %}

  {% if all_portfolio_pages.size > portfolio_pages_to_show.size %}
  <div class="item-thumbnail">
    <a class="page-link" href="/portfolio/">
      {%- assign thumbnail = portfolio_page.thumbnail | default: "Missing-Thumbnail-420x420.png" -%}
      <img src="/assets/pictures/portfolio/More-Thumbnail-420x420.png" alt="More thumbnail">
      <div class="item-thumbnail-overlay">More...</div>
    </a>
  </div>
  {% endif %}
</div>
{% endif %}
