$content-width:                  1000px;
$youtube-width-small-display:    256px;
$youtube-height-small-display:   144px;
$youtube-width-large-display:    470px;
$youtube-height-large-display:   264px;