// _layout.scss override
.site-header {
    // remove top border (not aesthetic)
    border-top: 0;
    // remove bottom border (redundant with new top border on standard page
    // and portfolio item header)
    border-bottom: 0;
    // reduce line height to avoid gap between title and subtitle
    line-height: $base-line-height * $base-font-size * 1.5;
}

// _layout.scss override
.site-title {
    // uppercase title
    text-transform: uppercase;
    // bigger title
    @include relative-font-size(2);
    // bolder title
    font-weight: 500;
    // since we removed top border in .site-header, add more padding on top
    padding-top: 20px;
}

.site-subtitle {
    // make sure subtitle appears below title (we can also set float: none on .site-title)
    clear: left;
    @include relative-font-size(1.2);
}

.standard-page {
    // standard pages have no full header with dual separator lines,
    // just draw top separator instead, with some padding below
    border-top: 4px solid $lm-brand-color-dark;
    padding-top: 15px;
}

// center header text between two thick horizontal lines with padding
.portfolio-item-header {
    border-top: 4px solid $lm-brand-color-dark;
    padding-top: 15px;
    text-align: center;
    padding-bottom: 5px;
    border-bottom: 4px solid $lm-brand-color-dark;
    
    // _layout.scss override
    .post-title {
        @include relative-font-size(2.4);
    }

    .post-subtitle {
        line-height: 1;
    }
}

// video and metadata at the top of a portfolio item
.portfolio-item-top {
    display: flex;

    .embedded-video {
        padding: 0 20px 0 0;
    }
}

// metadata table
table.metadata {
    // no outside borders
    border: 0;

    tr {
        // remove zebra on header cells
        th {
            background-color: $lm-background-color;
        }

        // remove zebra on even cells
        &:nth-child(even) {
            background-color: $lm-background-color;
        }
        
        th, td {
            // only keep horizontal borders, darker than default
            border-width: 0 0 1px 0;
            border-bottom-color: $lm-brand-color;
        }

        &:last-child {
            th, td {
                // remove the last bottom border so we only see lines
                // separating rows
                border-bottom-width: 0;
            }
        }
    }
}

// wrapped grid
.grid {
    display: flex;
    flex-wrap: wrap;

    img {
        // include padding in the width so we can really fit
        // 2 entries at 50%
        box-sizing: border-box;
        padding: 5px 5px;
        max-width: 50%;

        @media screen and (max-width: 800px) {
            max-width: 100%;
        }
    }
}
