---
layout: default
---
<article class="post comic-strip">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
    <h2 class="post-subtitle">{{ page.subtitle | escape }}</h2>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

  {% comment %} Note that `page.image` is used for social media preview only {% endcomment %}
  <img src="{{ page.comic_image }}" alt="{{ page.alt_text | escape }}" height="{{ page.comic_image_height }}">

</article>
